@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

header {
    background-color: darkslateblue;
    color: white;
    padding: 30px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

.hamburger {
    background: none;
    border: none;
    color: white;
    font-size: 40px;
    margin-top: -10px;
    cursor: pointer;
    z-index: 999;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background-color: darkslateblue;
    z-index: 998;
    transition: all 0.3s ease;
    border-top: 1px solid #fff;
}

nav ul.show {
    display: block;
}

nav ul li {
    text-align: center;
    padding: 10px 0;
}

nav ul li:hover {
    background-color: #ffffff;
}

nav ul li a:hover {
    color: #000;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
}

main {
    position: relative;
}

main h2 {
    padding-top: 40px;
    text-align: center;
}

main .temple-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
}

main .temple-card img {
    width: 100%;
    height: 300px;
}

.temple-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

footer {
    background-color: darkslateblue;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 5px 0;
}

@media (min-width: 600px) and (max-width: 1024px) {
    main {
        grid-template-columns: repeat(2, 1fr);
        padding: 30px;
    }

    main h2 {
        grid-column: span 2;
    }

    .hamburger {
        font-size: 40px;
    }

    nav ul {
        top: 70px;
    }
}